<section>
  <div id="login">
    <form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="voltar-login" routerLink="/login"><i class="ri-arrow-left-line"></i> Login</div>

      <div class="card-header">
        <h2>Cadastro de Usuário</h2>
      </div>

      <div class="card-content">
        <div class="card-content-area">
          <label for="usuario">Usuário</label>

          <input
            formControlName="user"
            type="text"
            id="usuario"
            autocomplete="off"
            [required]="true"
          />
        </div>

        <div class="card-content-area">
          <label for="nome">Nome</label>

          <input
            formControlName="nome"
            type="text"
            id="nome"
            autocomplete="off"
            [required]="true"
          />
        </div>

        <div class="card-content-area">
          <label for="idade">Idade</label>

          <input
            formControlName="idade"
            type="number"
            id="idade"
            autocomplete="off"
            [required]="true"
          />
        </div>

        <div class="card-content-area">
          <label for="Email">Email</label>

          <input
            formControlName="email"
            type="text"
            id="Email"
            autocomplete="off"
            [required]="true"
          />
        </div>

        <div class="card-content-area">
          <label for="Telefone">Telefone</label>

          <input
            formControlName="telefone"
            type="number"
            id="Telefone"
            autocomplete="off"
            [required]="true"
          />
        </div>
      </div>

      <div class="card-footer">
        <input
          type="submit"
          [disabled]="form.invalid"
          value="Salvar"
          class="submit"
        />
      </div>
    </form>
  </div>
</section>
