<section>
  <div id="login">
    <form class="card" [formGroup]="form" (ngSubmit)="signIn()">
      <div class="card-header">
        <h2>Login</h2>
      </div>

      <div class="card-content">
        <div class="card-content-area">
          <label for="usuario">Usuário</label>

          <input
            formControlName="login"
            type="text"
            id="usuario"
            autocomplete="off"
          />
        </div>

        <div class="card-content-area">
          <label for="password">Senha</label>

          <input
            formControlName="password"
            type="password"
            id="password"
            autocomplete="off"
          />
        </div>
      </div>

      <div class="card-footer">
        <input
          type="submit"
          [disabled]="form.invalid"
          value="login"
          class="submit"
        />

        <a routerLink="/cadastro">Cadastrar Usuário</a>
      </div>
    </form>
  </div>
</section>
